<article class="{{ if not .Site.Params.homepage.showRecent }} h-full {{ end }} flex flex-col items-center justify-center text-center">
  <header class="mb-3 flex flex-col items-center">
    <!-- Logo Section -->
    {{- /* logo section added*/}}
    {{- if .Site.Params.header.logo }}
    {{- $logo := resources.Get .Site.Params.header.logo }}
    {{- $logo_dark := resources.Get .Site.Params.header.logoDark }}
    {{- if $logo }}
    <a href="{{ "" | relLangURL }}" class="mb-4 block pointer-events-none" style="background-color: #262626; max-width: 400px;">
      <img
        src="{{ $logo.RelPermalink }}"
        class="w-full h-auto object-contain{{ if $logo_dark }} hidden dark:block{{ end }}"
        alt="{{ .Site.Title }}"
      />
      {{- if $logo_dark }}
      <img
        src="{{ $logo_dark.RelPermalink }}"
        class="w-full h-auto object-contain dark:hidden"
        alt="{{ .Site.Title }}"
      />
      {{- end }}
    </a>
    
    {{- end }}
    {{- end }}

    <!-- Title Section -->
    <h1 class="text-4xl font-extrabold">
      {{ .Site.Author.name | default .Site.Title }}
    </h1>
    {{ with .Site.Author.headline }}
    <h2 class="text-xl text-neutral-500 dark:text-neutral-400">
      {{ . | markdownify | emojify }}
    </h2>
    {{ end }}
    <div class="mt-1 text-2xl">
      {{ partialCached "author-links.html" . }}
    </div>
  </header>

  <!-- Content Section -->
  <section class="prose dark:prose-invert">{{ .Content | emojify }}</section>
</article>

<!-- Recent Articles Section -->
<section>
  {{ partial "recent-articles.html" . }}
</section>
